---
layout: default
title: 'headzoo.io'
permalink: /index.html
---

{% for post in site.posts %}
<article class="blog-article">
  <div class="blog-item-wrap">
    <h2 class="blog-title">
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </h2>
    <p class="entry-meta">
      <span class="meta-part">{{ post.date | date: "%B %-d, %Y"}}</span>
    </p>

    {% if post.excerpt %}
    <div class="excerpt">{{ post.excerpt }}</div>
    {% else %}
    <div class="excerpt">{{ post.content | strip_html | truncatewords: 40 }}</div>
    {% endif %}
  </div>
</article>
{% endfor %}