---
layout: default
title: 'headzoo.io'
permalink: /index.html
---

{% for post in site.posts %}
<article class="blog-article">
  <div class="blog-item-wrap">
    <h2 class="blog-title">
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </h2>
    <p class="entry-meta">
      <span class="meta-part">{{ post.date | date: "%B %-d, %Y"}}</span>
    </p>

    {% if post.featured_image %}
    <div class="feature-inner">
      <img src="{{ post.featured_image | relative_url }}" alt="Featured">
    </div>
    {% endif %}

    <div class="post-content">{{ post.content }}</div>
  </div>
</article>
{% endfor %}
