---
layout: default
---

<article class="blog-article">
  <div class="blog-item-wrap">
    <h1 class="blog-title">{{ page.title }}</h1>

    <p class="entry-meta">
      <span class="meta-part">
        {{ page.date | date: "%B %-d, %Y" }}
      </span>
      {% if page.tags %} • {{ page.tags | array_to_sentence_string }}{% endif %}
    </p>

    <div class="post-body">
      {% if page.featured_image %}
      <div class="feature-inner">
        <img src="{{ page.featured_image | relative_url }}" alt="Featured">
      </div>
      {% endif %}

      <div class="post-content">
        {{ content }}
      </div>
    </div>
  </div>
</article>
